{% load static %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- simplebar js -->
<script src="{% static 'plugins/simplebar/js/simplebar.js' %}"></script>
<!-- sidebar-menu js -->
<script src="{% static 'js/sidebar-menu.js' %}"></script>
<!-- loader scripts -->
<!-- Custom scripts -->
<script src="{% static 'js/app-script.js' %}"></script>
<!-- Chart js -->
<script src="{% static 'plugins/Chart.js/Chart.min.js' %}"></script>
<!-- Index js -->
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/datatable-setting.js' %}"></script>
<script src="{% static 'plugins/DataTable/jquery.dataTables.min.js' %}"></script>
<!-- buttons for Export datatable -->
<script src="{% static 'plugins/DataTable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/DataTable/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/DataTable/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/DataTable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/DataTable/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'plugins/DataTable/js/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/DataTable/js/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/DataTable/js/jszip.min.js' %}"></script>
