{% extends 'Base/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header">Статистика входящих документов</div>
                <div class="card-body">
                    <div class="chart-container-1">
                        <canvas id="InboxDoc"></canvas>
                    </div>
                </div>
            <div class="table-responsive">
                <table class="table align-items-center">
                    <tbody>
                        <tr>
                            <td colspan="2" class="m-0 p-0">
                                <button id="InboxChangeCircleSize" class="changeCircleSize"><i class="fa fa-pie-chart"></i> Полукруг/Полный Круг</button>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #16b81b"></i> Выполнено</td>
                            <td id="m_done_count">{{ m_done_count }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #daeb23"></i> В процессе</td>
                            <td id="m_process_count">{{ m_process_count }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #bf4343"></i> Не выполнено</td>
                            <td id="m_not_executed_count">{{ m_not_executed_count }}</td>
                        </tr>
                        <tr>
                            <td><i class="mr-2" style="color: #bf4343"></i> Всего</td>
                            <td id="m_not_executed_count">{{ m_all_count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header">Статистика исходящих документов</div>
                <div class="card-body">
                    <div class="chart-container-1">
                        <canvas id="ShippedDoc"></canvas>
                    </div>
                </div>
            <div class="table-responsive">
                <table class="table align-items-center">
                    <tbody>
                        <tr>
                            <td colspan="2" class="m-0 p-0">
                                <button id="ShippedChangeCircleSize" class="changeCircleSize"><i class="fa fa-pie-chart"></i> Полукруг/Полный Круг</button>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #16b81b"></i> Выполнено</td>
                            <td id="d_done_count">{{ d_done_count }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #daeb23"></i> В процессе</td>
                            <td id="d_process_count">{{ d_process_count }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #bf4343"></i> Не выполнено</td>
                            <td id="d_not_executed_count">{{ d_not_executed_count }}</td>
                        </tr>
                        <tr>
                            <td><i class="mr-2" style="color: #bf4343"></i> Всего</td>
                            <td id="m_not_executed_count">{{ d_all_count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header">Статистика исходящих заявлений и рапортов</div>
                <div class="card-body">
                    <div class="chart-container-1">
                        <canvas id="ShippedStat"></canvas>
                    </div>
                </div>
            <div class="table-responsive">
                <table class="table align-items-center">
                    <tbody>
                        <tr>
                            <td colspan="2" class="m-0 p-0">
                                <button id="StatChangeCircleSize" class="changeCircleSize"><i class="fa fa-pie-chart"></i> Полукруг/Полный Круг</button>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #daeb23"></i> Подано</td>
                            <td id="submitted">{{ submitted }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #bf4343"></i> Отклонено</td>
                            <td id="rejected">{{ rejected }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #436fbf"></i> Утверждено</td>
                            <td id="approved">{{ approved }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle mr-2" style="color: #16b81b"></i> Выполнено</td>
                            <td id="done">{{ done }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!--End Row-->
{% endblock content %}

{% block script %}
    <script src="{% static 'js/data-widgets.js' %}"></script>
{% endblock script %}