{% extends 'Base/base.html' %}
{% load static %}

{% block title %}{{ profile.get_full_name }}{% endblock title %}

{% block content %}
<div class="row mt-3">
    <div class="col-lg-4">
        <div class="card profile-card-2">
            <div class="card-img-block">
                <img class="img-fluid" src="https://via.placeholder.com/800x500" alt="Card image cap">
            </div>
            <div class="card-body pt-5 pb-1">
                <img src="https://via.placeholder.com/110x110" alt="profile-image" class="profile">
                <h1 class="card-title" style="font-size: 23px">{{ profile.get_full_name }}</h1>
            </div>
            
            <div class="card-body border-top border-light">
                <div class="media align-items-center">
                    <div class="media-body text-left ml-3">
                        <span>Должность:</span>
                        <span class="float-right">{{ profile.position.name }}</span>
                    </div>
                </div>
                <hr>
                <div class="media align-items-center">
                    <div class="media-body text-left ml-3">
                        <span>Email:</span>
                        <span class="float-right">{{ profile.account.email }}</span>
                    </div>
                </div>
                <hr>
                <div class="media align-items-center">
                    <div class="media-body text-left ml-3">
                        <span>Номер телефона:</span>
                        <span class="float-right">{{ profile.tel_number }}</span>
                    </div>
                </div>
                <hr>
                <div class="media align-items-center">
                    <div class="media-body text-left ml-3">
                        <span>Дата рождение:</span>
                        <span class="float-right">{{ profile.date_of_birth }}</span>
                    </div>
                </div>
                <hr>
                <div class="media align-items-center">
                    <div class="media-body text-left ml-3">
                        <span>Должность:</span>
                        <span class="float-right">Должность:</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill"
                            class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Профиль</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#settings" data-toggle="pill" class="nav-link"><i
                                class="icon-envelope-open"></i> <span class="hidden-xs">Настройки</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i
                                class="icon-note"></i> <span class="hidden-xs">Редактировать</span></a>
                    </li>
                </ul>

                <div class="tab-content p-3">
                    <div class="tab-pane active" id="profile">
                        <div class="text-center p-3 pt-5"><h1>В стадии разработки</h1></div>
                    </div>
                    <div class="tab-pane" id="settings">
                        <div class="text-center p-3 pt-5"><h1>В стадии разработки</h1></div>
                    </div>
                    <div class="tab-pane" id="edit">
                        <div class="text-center p-3 pt-5"><h1>В стадии разработки</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script type="text/javascript">
    //Код jQuery, установливающий маску для ввода телефона элементу input
    //1. После загрузки страницы,  когда все элементы будут доступны выполнить...
    jQuery(function ($) {
        $("#id_phone").mask("0 (999) 99-99-99");
    });
</script>
{% endblock content %}