{% extends 'Base/base.html' %}
{% load static %}
{% load qr_code %}
{% block title %}Чек листы{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="DataTable">
                        <thead>
                            <tr>
                                <th scope="col" class="w-25 datatable-nosort">Номер</th>
                                <th scope="col" class="w-75 datatable-nosort">Название документа</th>
                                <th scope="col" class="w-25 datatable-nosort">Статус</th>
                                <th scope="col" class="datatable-nosort">Дата</th>
                                <th scope="col" class="datatable-nosort">Ссылка</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if check_lists %}
                                {% for check in check_lists %}
                                    {% if check.open_view %}
                                        <tr>
                                            <td><a>{{ check.document.number }}</a></td>
                                            <td><a>{{ check.document.name|truncatechars:50 }}</a></td>
                                            <td><a>{{ check.document.status_v }}</a></td>
                                            <td><a>{{ check.created|date:'d-m-Y' }}</a></td>
                                            <td><a href="{% url 'check_list_pdf' key=check.private_key %}" class="btn btn-secondary">Посмотреть</a></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td><a>{{ check.document.number }}</a></td>
                                            <td><a>{{ check.document.name|truncatechars:50 }}</a></td>
                                            <td><a>{{ check.document.status_v }}</a></td>
                                            <td><a>{{ check.created|date:'d-m-Y' }}</a></td>
                                            <td><a href="{% url 'remove_check_list_pdf' key=check.private_key %}" class="btn btn-secondary">Посмотреть</a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">У вас пока нет Чек листов</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Row-->
{% endblock content %}